* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: burlywood;
  }
  
  h1 {
    background-color: #081b31;
    color: #fff;
    height: 10rem;
    line-height: 10rem;
    font-size: 6.6rem;
  }
  
  .choice {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .choice:hover {
    cursor: pointer;
    background-color: #081b31;
    transition: background-color 0.3s ease;
  }
  
  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 50rem;
  }
  
  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: brown;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  #user-score,
  #comp-score {
    font-size: 10rem;
  }
  
  .msg-container {
    margin-top: 5rem;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 6rem;
    display: inline;
    padding: 1rem;
    border-radius: 4rem;
  }